:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #000c1b;
  --header-bg-color: #002b5f;
  --light-text: #00a6ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 100%;
  padding: 2rem;
  gap: 4rem;
  align-items: center;
  background-color: var(--background-color);
  color: var(--color);
  justify-content: space-around;
  position: fixed;
  z-index: 99999;
}

.nav-logo {
  cursor: pointer;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header li {
  display: flex;
  align-self: center;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.header span {
  font-weight: 900;
}

.search-container {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
.search-container select {
  border: none;
  padding: 10px;
  background: #eee;
  cursor: pointer;
  outline: none;
  width: 4rem;
}
.search-container input {
  border: none;
  padding: 10px;
  flex: 1;
  outline: none;
  width: 20rem;
}
.search-container button {
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
}
.search-container button:hover {
  background: #0056b3;
}

.watch-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.lang {
  display: flex;
  gap: 0.3rem;
  text-transform: uppercase;
}

.arrow-sign {
  display: inline-block;
  transform: rotate(90deg);
}

.movie-watchlist-header {
  background-color: var(--header-bg-color);
  padding: 4rem;
  padding-top: 10rem;
  color: var(--color);
}

.movie-watchlist-header h1 {
  font-size: 3rem;
  font-weight: 300;
}

.movie-watchlist-header span {
  font-weight: 200;
  color: var(--light-text);
}

.movie-watchlist-header ul {
  display: flex;
  gap: 2rem;
  margin-left: 1rem;
}

.info-icon {
  /* color: #002b5f; */
  height: 1rem;
  width: 1rem;
  /* padding: 10px; */
  /* background-color: none; */
}

.i-circle {
  padding: 0.7rem;
  border: 1px solid var(--header-bg-color);
  /* padding: 1rem; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
}

img.poster {
  width: 5rem;
  height: 8rem;
  border-radius: 0.6rem;
}

main {
  padding: 2rem;
}

.card {
  border: 1px solid grey;
  padding: 1rem;
  padding-block: 2rem;
  border-radius: 1rem;
  max-width: 70rem;
  justify-self: center;
}

.card .movie-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .movie-card {
  display: flex;
  gap: 1rem;
  align-items: center;
}

span.title {
  font-weight: 800;
}

.card .yearPlusDuration {
  display: flex;
  gap: 2rem;
}

.card .dropdown-option::after {
  content: "›";
  display: inline-block;
  transform: rotate(90deg);
  margin-left: 5px;
}

.card .rating-details {
  display: flex;
  gap: 1rem;
}

.card .rating-details span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.card .movie-summary {
  margin-top: 1rem;
}

.card .directorsAndStars {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.card .directorsAndStars p {
  font-weight: 700;
}

.card .directorsAndStars span {
  display: flex;
  gap: 1rem;
}

.directorsAndStars span a,
span.watched,
span.rate {
  text-decoration: none;
  color: var(--light-text);
}

.horizontal-rule {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
  border-radius: 5px;
}

.card .addToWatchlist button {
  background-color: var(--header-bg-color);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--color);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card .movie-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

footer {
  background-color: var(--background-color);
  padding: 2rem;
  color: var(--color);
}

.sign-in-access {
  padding: 0.7rem;
  border-radius: 1.5rem;
  font-weight: bold;
  background-color: yellow;
  border: none;
  display: block;
  margin-inline: auto;
  margin-top: 2rem;
}

.imdb-social-download-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials {
  display: flex;
  gap: 0.7rem;
  margin-block: 2rem;
}

.socials,
.qrcode {
  padding: 1rem;
  border: 0.5px solid var(--color);
  border-radius: 0.5rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-icons {
  display: flex;
  gap: 2rem;
}

.qrcode {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.qrcode img {
  height: 100%;
}

.page-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
  max-width: 50%;
  margin-inline: auto;
}

.page-links a {
  text-decoration: none;
  color: var(--color);
}

.footer-ending p,
.footer-ending small {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.filters {
  margin: 2rem;
}

.dropbtn {
  background-color: #e4b720;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* li.nav-menu {
  display: none;
} */

.nav-wrapper {
  display: flex;
  gap: 2rem;
}
.hamburger{
  display: none;
  
}
.desktop-header{
  display: flex;
  gap: 2rem;
}
.genre-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.genre-badge {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.genre-badge:hover {
  background-color: #007BFF;
  color: #fff;
}

.genre-28 {
  background-color: #f0ad4e;
}

.genre-18 {
  background-color: #5bc0de;
}

.genre-53 {
  background-color: #5cb85c;
}

.genre-10749 {
  background-color: #d9534f;
}


@media screen and (max-width: 1192px) {
  .hamburger{
    display: block;
  }
  .desktop-header {
    display: none;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .nav-wrapper li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 702px) {
  .hamburger{
    display: block;
  }
  .desktop-header {
    display: none;
  }
  .search-container input {
    width: 5rem;
    /* display: none; */
  }

  header.header {
    gap: 1rem;
    /* display: none; */
  }

  .movie-watchlist-header h1 {
    font-size: 2rem;
  }

  .title {
    font-size: 1rem;
  }

  .footer-socials {
    display: flex;
    flex-direction: column;
  }

  .movie-card-container {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 1rem; */
  }

  .namePlusRating {
    display: flex;
    flex-direction: column;
    gap: none;
  }

  .card .yearPlusDuration {
    display: flex;
    gap: 1px;
  }

  .rating-details {
    display: flex;
    gap: 1px;
  }

  .card .rating-details {
    gap: 2px;
  }

  .movie-card {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 920px){
  .header ul {
    display: none;
  }

  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-wrapper {
    display: none;
  }

  .hamburger{
    display: block;
  }
  .menu{
    display: block;
  }
  .desktop-header {
    display: none;
  }
}
