:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #000c1b;
  --header-bg-color: #002b5f;
  --light-text: #00a6ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-color);
  color: var(--color);
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--color);
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.poster {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Add these if not already defined: */
.title {
  font-size: 1.5rem;
  font-weight: bold;
}
.rating-details,
.yearPlusDuration {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.modal-content button {
    background-color: transparent;
}